/* Side Bar */
div.css-zbg2rx.e1fqkh3o1{
    text-align: right !important;
    width: 13rem !important;
    /* margin-right:; */
}

/* Side Bar Button */
button.css-1qrvfrg.edgvbvh1{
    width: 10rem !important;
    margin-bottom: -20% !important;
    margin-top: -20% !important;
    text-align: center;
    margin-right: -11%;
    border-radius: 0.5rem 0 0 0.5rem !important;
}